# Dependencies
node_modules
.pnpm-store

# Turbo
.turbo

# Build outputs
dist
.next
out

# Env files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/settings.json
.idea
