NODE_ENV=development
PORT=4000

SUPABASE_URL=https://your-project.supabase.co
SUPABASE_SERVICE_ROLE_KEY=

GITHUB_APP_ID=123456
GITHUB_APP_PRIVATE_KEY=-----BEGIN RSA PRIVATE KEY-----\n...
GITHUB_WEBHOOK_SECRET=your-webhook-secret
GITHUB_BOT_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

STELLAR_NETWORK=testnet
PLATFORM_STELLAR_SECRET_KEY=SCZG...
PLATFORM_STELLAR_PUBLIC_KEY=GCXG...

# Trustless Work API Key (This is test keys not real one)
TRUSTLESS_WORK_API_KEY=njooqrUK_VGtzNQHzwr59Q.38fa64f795772f6486195556df824f093fdbc49883707273eed20634587b4034
TRUSTLESS_WORK_BASE_URL=https://dev.api.trustlesswork.com


APP_URL=http://localhost:3000
FRONTEND_URL=http://localhost:3000
WEBHOOK_URL=http://localhost:4000/api/webhooks/github
